<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forum.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.forum.entity.Topic" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="digest" property="digest" jdbcType="INTEGER" />
    <result column="last_post" property="lastPost" jdbcType="TIMESTAMP" />
    <result column="topic_content" property="topicContent" jdbcType="VARCHAR" />
    <result column="topic_replies" property="topicReplies" jdbcType="INTEGER" />
    <result column="topic_title" property="topicTitle" jdbcType="VARCHAR" />
    <result column="topic_view" property="topicView" jdbcType="INTEGER" />
    <result column="board_id" property="boardId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, digest, last_post, topic_content, topic_replies, topic_title, topic_view, 
    board_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_topic
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByBoardId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_topic
    where board_id = #{boardId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_topic
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.Topic" >
    insert into t_topic (id, create_time, digest, 
      last_post, topic_content, topic_replies, 
      topic_title, topic_view, board_id, 
      user_id)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{digest,jdbcType=INTEGER}, 
      #{lastPost,jdbcType=TIMESTAMP}, #{topicContent,jdbcType=VARCHAR}, #{topicReplies,jdbcType=INTEGER}, 
      #{topicTitle,jdbcType=VARCHAR}, #{topicView,jdbcType=INTEGER}, #{boardId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.forum.entity.Topic" >
    insert into t_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="lastPost != null" >
        last_post,
      </if>
      <if test="topicContent != null" >
        topic_content,
      </if>
      <if test="topicReplies != null" >
        topic_replies,
      </if>
      <if test="topicTitle != null" >
        topic_title,
      </if>
      <if test="topicView != null" >
        topic_view,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=INTEGER},
      </if>
      <if test="lastPost != null" >
        #{lastPost,jdbcType=TIMESTAMP},
      </if>
      <if test="topicContent != null" >
        #{topicContent,jdbcType=VARCHAR},
      </if>
      <if test="topicReplies != null" >
        #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null" >
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="topicView != null" >
        #{topicView,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forum.entity.Topic" >
    update t_topic
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=INTEGER},
      </if>
      <if test="lastPost != null" >
        last_post = #{lastPost,jdbcType=TIMESTAMP},
      </if>
      <if test="topicContent != null" >
        topic_content = #{topicContent,jdbcType=VARCHAR},
      </if>
      <if test="topicReplies != null" >
        topic_replies = #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null" >
        topic_title = #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="topicView != null" >
        topic_view = #{topicView,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.Topic" >
    update t_topic
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      digest = #{digest,jdbcType=INTEGER},
      last_post = #{lastPost,jdbcType=TIMESTAMP},
      topic_content = #{topicContent,jdbcType=VARCHAR},
      topic_replies = #{topicReplies,jdbcType=INTEGER},
      topic_title = #{topicTitle,jdbcType=VARCHAR},
      topic_view = #{topicView,jdbcType=INTEGER},
      board_id = #{boardId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>